* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 800px;
    padding: 40px 90px 40px 90px;
    background: url(./image/bg1.png) no-repeat;
    background-position: center center;
}

.header {
    display: flex;
    justify-content: space-between;

    &_buttons {
        display: flex;
        gap: 10px;
    }
}

.btn {
    height: 44px;
    padding: 0 15px 0 15px;
    border: none;
    border-radius: 5px;
    background: rgba(174, 181, 185, 0.5);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    &:hover {
        cursor: pointer;
        background: rgba(150, 157, 161, 0.5);
    }
}

.btn_voice:hover {
    cursor: pointer;
}

.btn_language span {
    margin-right: 10px;
}

.temperature_buttons {
    display: flex;
    justify-content: space-around;
}

.btn_cel {
    border-radius: 5px 0 0 5px;
}

.btn_far {
    border-radius: 0 5px 5px 0;
}

.active {
    background: rgba(76, 82, 85, 0.4);
    color: rgba(255, 255, 255, 0.4);

    &:hover {
        background: rgba(76, 82, 85, 0.4);
        cursor: default;
    }
}

.header_search {
    height: 44px;
    padding-right: 101px;
    position: relative;

    & input {
        width: 274px;
        height: 100%;
        background: rgba(76, 82, 85, 0.4);
        border: 1px solid rgba(228, 227, 227, 0.2);
        padding-left: 15px;
        padding-right: 43px;
        font-size: 14px;
        line-height: 21px;
        border-radius: 5px 0 0 5px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;

        &::placeholder {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }

        &:focus {
            outline: none;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

.btn_search {
    width: 101px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0px;
    right: 0px;

    &:active {
        background: rgba(144, 188, 177, 0.441);
        color: rgba(255, 255, 255, 0.434);
    }
}

.btn_voice {
    background: none;
    border: none;
    position: absolute;
    top: 14.38px;
    right: 118.82px;
}

.main {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
}

.place {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.time {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.weather_today {
    display: flex;

    &_degrees_elements p {
        position: relative;
        left: 18px;
        bottom: -8px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 100px;
        line-height: 0px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_details {
        padding-left: 92px;
        padding-bottom: 70px;

        & p {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 22px;
            line-height: 37px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather_today_degrees {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 306px;
    line-height: 373px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.weather_nextdays {
    display: flex;
    gap: 51px;
}

.nextday {

    & p {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    & span {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: baseline;
    }

    &_content {
        padding-top: 15px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
}

.coordinates p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
}

.location_content {
    padding-top: 87px;
}

.map {
    height: 412px;
    width: 375px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 74% 100%, 100% 100%, 93% 92%, 0 92%);
}

.coordinates {
    padding-top: 10px;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}